extends layout

block content
  h1 Choose your Device
  main
    a(class='deviceOption', href='/admin')
      i.material-icons computer
    a(class='deviceOption', href='/deck')
      i.material-icons smartphone